body {
    background-attachment: fixed;
    background-image: url('../img/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px 0 2em;
    font-family: Cambria, serif;
    position: relative;
}

.card {
    background: linear-gradient(to bottom, #ffffb2, #a0d497);
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px hsla(0, 0%, 0%, 0.5);
    font-size: 0.9em;
    width: 330px;
}

h1 {
    animation: shine 4s cubic-bezier(0.6, 0, 0.4, 1) infinite alternate;
    background: linear-gradient(75deg, black 10%, gold 15%, black 20%, black 100%);
    background-size: 200%;
    background-position: 40%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
    margin: 15px auto;
    text-align: center;
}

@keyframes shine {
    100% {
      background-position: -90%;
    }
}

.animal-image {
    background: grey;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
    display: block;
    margin: 0px auto;
    width: 300px;
}

.animal-info {
    background: rgb(255, 243, 228);
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    line-height: 18px;
    margin: 15px auto;
    padding: 0px 15px 5px;
    text-align: justify;
    width: 300px;
}

.intr-fact {
    font-style: italic;
}

span {
    font-weight: bold;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.easter-egg {
    animation: rotation 2s linear 3s infinite alternate;
    margin-left: 5px;
    vertical-align: middle;
    width: 16px;
}

.easter-egg:hover {
    animation: none;
    box-sizing: border-box;
    background: rgba(0, 128, 0, 0.5);
    box-shadow: 0 0 10px 0 green;
}

@keyframes rotation {
    94% {
        transform: rotate(0deg);
    }
    95% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}


.footer {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
    text-shadow: black 0 0 0.025em,
                     black 0 0 0.025em,
                     black 0 0 0.025em,
                     black 0 0 0.025em;
}

.footer-text {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.copyright {
    justify-content: center;
    position: relative;
}

.contacts {
    justify-content: flex-end;
    padding-right: 5vw;

    position: absolute;
    right: 0;
}

.contacts a {
    margin-left: 1.5em;
    display: flex;
    align-items: center;
}

.contacts img,
.site-logo img {
    max-height: 1.5em;
    max-width: 1.5em;
}

.site-logo {
    max-height: 1.5em;
    position: absolute;
    left: -2em;
}



@media screen and (max-width: 350px) {

    .card {
        width: 300px;
    }

    .animal-image,
    .animal-info {
        width: 270px;
    }

    .footer {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 900px) {

    body {
        padding-bottom: 8em;
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-text {
        justify-content: center;
    }

    .copyright,
    .contacts {
        position: relative;
        padding: 0;
        margin: 0.75em 0 0;
    }

    .contacts a {
        margin: 0 1em;
    }

    .site-logo {
        max-height: 3em;
        top: -3.5em;
        left: 8.2em;
    }

    .site-logo img {
        max-height: 3em;
        max-width: 3em;
    }
}
